{:deps {org.clojure/clojure   {:mvn/version "1.11.1"}
        ring/ring             {:mvn/version "1.9.5"}
        ring/ring-defaults    {:mvn/version "0.3.3"}
        ring-cors/ring-cors   {:mvn/version "0.1.13"}
        compojure/compojure   {:mvn/version "1.7.0"}
        org.clojure/data.json {:mvn/version "2.4.0"}
        http-kit/http-kit     {:mvn/version "2.6.0"}}
 :paths ["src" "resources"]}
